*{
    font-family: 'Abel', sans-serif;
    font-family: 'Mea Culpa', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
}


#banda{
    height: 656px;
    filter:  brightness(50%);
    width: 100%;
    
}
.man{

}
.man h1{
    color: white;
    position: absolute;
    top: 25%;
   margin-left: 140px;
   font-weight: bold;
   font-size: 50px;
  
}
.man p{
    position: absolute;
    top: 33%;
    color: white;
    font-weight: bold;
    width: 400px;
    text-align: justify;
    margin-left: 90px;
    text-align: center;
}
.man button{
    padding: 20px 75px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 25px;
    position: absolute;
    top: 45%;
    color: white;
    margin-left: 180px;
    font-weight: bold;
}
#revers{
   flex-direction: row-reverse;
}
form{
    width: 70%;
  
  margin: auto;
}
form h1{
    font-weight: bold;
    text-align: center;
}

.bi-google{
    font-size: 20px;
}
form p{
    display: flex;
justify-content: center;
}
    
.bi-envelope{
    font-size: 23px;
}
.bi-key{
    font-size: 23px;

}
#btn2{
    height: 50px;
    
    background-image: linear-gradient(to left,rgb(255, 81, 0),rgb(255, 176, 5));
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: none;
    
}
#wina{
  
    width: 23px;
position: absolute;
top: 50%;
margin-left: 370px;
}
#winaa{
  
    width: 23px;
position: absolute;
top: 50%;
margin-left: 370px;
}